{% extends 'base.html' %}

{% block content %}
    <div class="form-container">

        <h1 class="center-title">{% block title %} Log In {% endblock %}</h1>

    <form method="POST" action="{{ url_for('auth.login') }}" class="center-form">
        {{ form.csrf_token }}
        {{ form.email.label(class='label') }}
        {{ form.email(class='input') }}
        {{ form.password.label(class='label') }}
        {{ form.password(class='input') }}
        {{ form.remember.label(class='label') }}
        {{ form.remember(class='input') }}
        <div class="field">
            <br>
            <p><button type="submit" class="btn">Login</button></p>
            <a id="signup_link" class="label" href="{{url_for('auth.signup')}}"> need to sign up? </a>
        </div>

    </form>
    </div>

{% endblock %}